<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ subject }}</title>
    <style type="text/css" media="all">{% include "callrequest/email/style.css" %}</style>
</head>

<body>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-wrap">
                            <table  cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="js-logo">
                                        <img src="http://{{ site_domain }}/static/images/logo.png"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <h2>{{ subject }}</h2>
                                        <p></p>
                                        {% for key, value in object.items %}
                                            {% if value %}
                                                <p><strong>{{ key }}</strong>: {{ value }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>

